{% extends "guestBase.html" %}
{% load static %}

 
 
{% block body %}
<body>
  

  <main>
    <div class="container ">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-5">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'img/logo.png' %}" alt="">
                  <span class="d-none d-lg-block">Registeration</span>
                </a>
              </div><!-- End Logo -->
              
              <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                  {% if messages %}
                    <div class="alert alert-info text-black bi-text-left" >
                              <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                  {% endfor %}
                              </ul>
                    </div>
                  {% endif %}
              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate>
                    <div class ="row">
                      <div class="col-6">
                        <label for="Fname" class="form-label">Your Name</label>
                        <input type="text" name="Fname" class="form-control" id="Fname" required>
                        <div class="invalid-feedback">Please, enter your name!</div>
                      </div>

                      <div class="col-6">
                        <label for="username" class="form-label">Username</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                          <input type="text" name="username" class="form-control" id="username" required>
                          <div class="invalid-feedback">Please choose a username.</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="email" class="form-label">Your Email</label>
                      <input type="email" name="email" class="form-control" id="email" required>
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class ="row">
                      <div class="col-6">
                        <label for="yourDOB" class="form-label">Date of Birth</label>
                          <input type="date" name="dob" class="form-control" id="dob" max="{{ min_birth_date }}" required>
                          <div class="invalid-feedback">Please choose a Date of Birth.</div>
                      </div>
                      
                      <div class="col-6">
                        <label for="yourDOB" class="form-label">Phone Number</label>
                          <input type="tel" name="phone" class="form-control" id="phone" required>
                          <div class="invalid-feedback">Please Enter Phone Number.</div>
                      </div>
                    </div>

                    <div class ="row">
                      <div class="col-6">
                        <label for="yourPassword" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter your password!</div>
                      </div>

                      <!-- <div class="row">
                        <div class="col-6">
                          <label for="yourPassword" class="form-label">Password</label>
                          <input type="password" name="password" class="form-control" id="yourPassword" required>
                          <div id="passwordStrength" class="form-text"></div>
                          <div class="invalid-feedback">Please enter your password!</div>
                        </div>
                      </div> -->

                      <div class="col-6">
                        <label for="yourPassword" class="form-label">Confirm Password</label>
                        <input type="password" name="cpassword" class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter your password!</div>
                      </div>
                    </div>

                    
                    <br>
                    <div class="col-12">
                      <div class="form-check mt-2">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <br>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <br>
                  </form>
                    <div class="col-12 text-center">
                      <p class="small mb-0">Already have an account? <a href="{% url "Userlogin" %}">Log in</a></p>
                    </div>
                  
                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="{% url "UserDashboard" %}">ETF-Analysis</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  
  <script>
    document.getElementById('yourPassword').addEventListener('input', function () {
        var password = this.value;
        var strengthBadge = document.getElementById('passwordStrength');
        var strength = 0;
    
        if (password.match(/[a-zA-Z0-9][a-zA-Z0-9]+/)) {
            strength += 1;
        }
        if (password.match(/[~<>?]+/)) {
            strength += 1;
        }
        if (password.match(/[!@#$%^&*()]+/)) {
            strength += 1;
        }
        if (password.length >= 8) {
            strength += 1;
        }
    
        switch (strength) {
            case 0:
                strengthBadge.textContent = "Weak";
                break;
            case 1:
                strengthBadge.textContent = "Moderate";
                break;
            case 2:
                strengthBadge.textContent = "Fair";
                break;
            case 3:
                strengthBadge.textContent = "Strong";
                break;
            case 4:
                strengthBadge.textContent = "Very Strong";
                break;
        }
    });
    </script>
</body>
{% endblock body %}
 
