{% extends "userbase.html" %}
{% block title %}Transactions{% endblock title %}
{% load static %}
{% block body %}
<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">        
                <div class="card">
                    <div class="card-body" style="overflow-x: auto; overflow:visible;">
                        <div id="user_buy_history_url" data-url="{% url 'user_buy_history' %}"></div>
                        <h5 class="card-header fw-bolder text-center ">ETF Transactions</h5>
                        <!-- Buy/Sell Dropdown -->
                        <div class="dropdown" >
                            <button class="btn btn-md dropdown-toggle bg-transparent" type="button" style="font-size:20px; z-index: 1000;" id="transactionTypeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <span id="selectedOption">All</span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="transactionTypeDropdown">
                                <li><a class="dropdown-item" href="#" onclick="selectTransactionType('All')">All</a></li>
                                <li><a class="dropdown-item" href="#" onclick="selectTransactionType('Buy')">Buy</a></li>
                                <li><a class="dropdown-item" href="#" onclick="selectTransactionType('Sell')">Sell</a></li>
                            </ul>
                        </div>

                        <!-- Buy Transactions Table -->
                        <table id="allTable" class="table table-hover"> 
                            <thead>                           
                                <tr>
                                    <th style="white-space: nowrap;">S. no. </th>
                                    <th style="white-space: nowrap;">Expand</th>

                                    <th style="white-space: nowrap;">ETF Name</th>
                                    <th style="white-space: nowrap;">Last Transaction</th>
                                    <th style="white-space: nowrap;">Total Quantity</th>
                                    <th style="white-space: nowrap;">Average Cost</th>
                                    <th style="white-space: nowrap;">Currrent Cost</th>
                                    <th style="white-space: nowrap;">Percentage diff</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for b in data %}
                                <tr class="expandable-row">
                                    <td>{{ forloop.counter }}</td>
                                    <td><button class="expand-btn">+</button></td>
                                    <td>{{ b.Etf_purchased__Etfnames }}</td>
                                    <td>{{ b.mod_date }}</td>
                                    <td>{{ b.total_quantity }}</td>
                                    <td>₹ {{ b.mod_avg|floatformat:2  }}</td>
                                    <td>₹ {{ b.current_price|floatformat:2  }}</td>
                                    <td style="color: 
                                        {% if b.percent_diff > 0 %}
                                            green
                                        {% elif b.percent_diff < 0 %}
                                            red
                                        {% else %}
                                            black
                                        {% endif %}
                                        ;"
                                    >{{ b.percent_diff|floatformat:2 }}%</td>
                                       <td><button class="expand-button"></button></td>
                                </tr>
                                <tr class="details-row" style="display: none;">
                                    <td colspan="7">
                                        <table class="table table-light">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Quantity</th>
                                                    <th>Buy Cost</th>
                                                    <th>Buy Price</th>
                                                    <th>Current Cost</th>
                                                    <th>Current Price</th>
                                                    <th>% Difference</th>
                                                    <th>Trans type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Add details rows here -->
                                             
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <table id="sellTable" class="table table-hover" style="display: none;"> 
                            <thead>                           
                                <tr>
                                    <th style="white-space: nowrap;">S. no. </th>
                                    <th style="white-space: nowrap;">ETF Name</th>
                                    <th style="white-space: nowrap;">Last Sold</th>
                                    <th style="white-space: nowrap;">Total Quantity Sold</th>
                                    <th style="white-space: nowrap;">Average Sell Price</th>
                                    <th style="white-space: nowrap;">Currrent Sell Price</th>
                                    <th style="white-space: nowrap;">Percentage diff</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Add sell table body content here -->
                            </tbody>
                        </table>

                           <!-- Buy Transactions Table (Initially hidden) -->
                           <table id="buyTable" class="table table-hover" style="display: none;"> 
                            <thead>                           
                                <tr>
                                    <th style="white-space: nowrap;">S. no. </th>
                                    <th style="white-space: nowrap;">ETF Name</th>
                                    <th style="white-space: nowrap;">Last Purchased</th>
                                    <th style="white-space: nowrap;">Total Quantity purchased</th>
                                    <th style="white-space: nowrap;">Average Cost</th>
                                    <th style="white-space: nowrap;">Currrent Price</th>
                                    <th style="white-space: nowrap;">Percentage diff</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Add sell table body content here -->
                            </tbody>
                        </table
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



<script>

    function selectTransactionType(transactionType) {
        console.log('Transaction type selected:', transactionType); // Debug statement
        var allTable = document.getElementById('allTable');
        var buyTable = document.getElementById('buyTable'); // Added buyTable variable
        var sellTable = document.getElementById('sellTable');
        var dropdownToggle = document.getElementById('transactionTypeDropdown');
        var selectedOption = document.getElementById('selectedOption'); // Added selectedOption variable
        
        if (transactionType === 'All') {
            console.log('Displaying All transactions table.'); // Debug statement
            allTable.style.display = 'table';
            buyTable.style.display = 'none';
            sellTable.style.display = 'none';
            dropdownToggle.innerText = 'All';
        } else if (transactionType === 'Buy') {
            console.log('Displaying Buy transactions table.'); // Debug statement
            allTable.style.display = 'none';
            buyTable.style.display = 'table';
            sellTable.style.display = 'none';
            dropdownToggle.innerText = 'Buy';
        } else if (transactionType === 'Sell') {
            console.log('Displaying Sell transactions table.'); // Debug statement
            allTable.style.display = 'none';
            buyTable.style.display = 'none';
            sellTable.style.display = 'table';
            dropdownToggle.innerText = 'Sell';
        }

        // Set font size for the selected option
        selectedOption.style.fontSize = '100px';
    }
    
    
    

    document.addEventListener("DOMContentLoaded", function () {
        const expandableRows = document.querySelectorAll('.expandable-row');
    
        expandableRows.forEach(row => {
            row.addEventListener('click', function () {
                console.log("Row clicked!");
                const detailsRow = this.nextElementSibling;
                const ETFName = this.querySelector('td:nth-child(2)').textContent; // Assuming ETF name is in the second column
                if (detailsRow.style.display === "none") {
                    detailsRow.style.display = "";
                    this.classList.add('table-info'); // Add table-active class when expanding
                    fetchDetailsData(ETFName, detailsRow); // Pass ETFName and transType to fetchDetailsData
                } else {
                    detailsRow.style.display = "none";
                    this.classList.remove('table-info'); // Remove table-active class when collapsing
                }
            });
        });
        
    
        function fetchDetailsData(ETFName, detailsRow) {
            const userBuyHistoryUrl = document.getElementById('user_buy_history_url').dataset.url;
            const csrftoken = getCookie('csrftoken');
            const requestBody = {
                ETFName: ETFName,
            };
            fetch(userBuyHistoryUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(requestBody)
            })
            .then(response => response.json())
            .then(data => {
                if (data && data.detailed_data) {
                    updateDetailedData(data.detailed_data, detailsRow);
                } else {
                    console.error('Invalid or missing detailed data:', data);
                }
            })
            .catch(error => console.error('Error fetching details:', error));
        }
            
        function updateDetailedData(data, detailsRow) {
            const tableBody = detailsRow.querySelector('tbody');
            tableBody.innerHTML = '';
            data.forEach(entry => {
                const formattedDateTime = formatDateTime(entry.Date_time); // Format the date-time
        
                // Format Cost
                const costString = entry.Cost.toString(); // Convert cost to string
                const costParts = costString.split('.'); // Split the string into parts before and after the decimal point
                const costFormattedDecimal = costParts.length > 1 ? costParts[1].substring(0, 2) : '00'; // Ensure exactly two decimal places
                const formattedCost = ₹ ${costParts[0]}.${costFormattedDecimal.padEnd(2, '0')};
        
                // Format Purchase Close Value
                const purchaseCloseString = entry.Purchase_close_value.toString(); // Convert purchase close value to string
                const purchaseCloseParts = purchaseCloseString.split('.'); // Split the string into parts before and after the decimal point
                const purchaseCloseFormattedDecimal = purchaseCloseParts.length > 1 ? purchaseCloseParts[1].substring(0, 2) : '00'; // Ensure exactly two decimal places
                const formattedPurchaseClose = ` ${purchaseCloseParts[0]}.${purchaseCloseFormattedDecimal.padEnd(2, '0')}`;
        
                // Format CurrCost
                const currCostString = entry.CurrCost.toString(); // Convert CurrCost to string
                const currCostParts = currCostString.split('.'); // Split the string into parts before and after the decimal point
                const currCostFormattedDecimal = currCostParts.length > 1 ? currCostParts[1].substring(0, 2) : '00'; // Ensure exactly two decimal places
                const formattedCurrCost = ₹ ${currCostParts[0]}.${currCostFormattedDecimal.padEnd(2, '0')};
        
                // Format CurrPrice
                const currPriceString = entry.CurrPrice.toString(); // Convert CurrPrice to string
                const currPriceParts = currPriceString.split('.'); // Split the string into parts before and after the decimal point
                const currPriceFormattedDecimal = currPriceParts.length > 1 ? currPriceParts[1].substring(0, 2) : '00'; // Ensure exactly two decimal places
                const formattedCurrPrice = ` ${currPriceParts[0]}.${currPriceFormattedDecimal.padEnd(2, '0')}`;
        
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${formattedDateTime}</td>
                    <td>${entry.Quantity}</td>
                    <td>${formattedCost}</td> <!-- Display Cost with exactly 2 digits after the decimal point -->
                    <td>${formattedPurchaseClose}</td> <!-- Display Purchase Close Value with exactly 2 digits after the decimal point -->
                    <td>${formattedCurrCost}</td> <!-- Display CurrCost with exactly 2 digits after the decimal point -->
                    <td>${formattedCurrPrice}</td> <!-- Display CurrPrice with exactly 2 digits after the decimal point -->
                    <td style="color: 
                    ${entry.PercentDiff > 0 ? 'green' : entry.PercentDiff < 0 ? 'red' : 'black'};">${entry.PercentDiff}%</td> <!-- Percentage Difference between Current cost and Buy Cost -->
                    <td style="color: ${entry.trans_type === 'BUY' ? 'green' : 'red'};"><strong>${entry.trans_type}</strong></td>
                    `;
        
                tableBody.appendChild(row);
            });
            detailsRow.style.display = "";
        }
        
        
        
        // Function to format date-time
        function formatDateTime(dateTimeString) {
            const options = { 
                year: 'numeric', 
                month: 'short', 
                day: '2-digit', 
                
            };
            const dateTime = new Date(dateTimeString);
            return dateTime.toLocaleString('en-US', options);
        }
        
    
        // Function to get CSRF token from cookie
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
    

</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const expandButtons = document.querySelectorAll('.expand-button');

    expandButtons.forEach(button => {
        button.addEventListener('click', function() {
            const detailsRow = this.closest('.expandable-row').nextElementSibling;
            if (detailsRow.style.display === "none") {
                detailsRow.style.display = "";
                this.textContent = "-"; // Change the button text to "-" when expanded
            } else {
                detailsRow.style.display = "none";
                this.textContent = "+"; // Change the button text to "+" when collapsed
            }
        });
    });
});

</script>



  {% endblock body %}



  #entry['20dma'],entry['etf_close_minus_20dma'], entry['etf_close_div_20dma'] = calculate_20dma(entry['Etfnames'])
                #entry['50dma'],entry['etf_close_minus_50dma'], entry['etf_close_div_50dma'] = calculate_50dma(entry['Etf_purchased__Etfnames'])
                #entry['100dma'],entry['etf_close_minus_100dma'], entry['etf_close_div_100dma'] = calculate_100dma(entry['Etf_purchased__Etfnames'])
                






                <script>
      
    

                    function selectTransactionType(transactionType) {
                        console.log('Transaction type selected:', transactionType); // Debug statement
                        var allTable = document.getElementById('allTable');
                        var buyTable = document.getElementById('buyTable'); // Added buyTable variable
                        var sellTable = document.getElementById('sellTable');
                        var dropdownToggle = document.getElementById('transactionTypeDropdown');
                        var selectedOption = document.getElementById('selectedOption'); // Added selectedOption variable
                        
                        if (transactionType === 'All') {
                            console.log('Displaying All transactions table.'); // Debug statement
                            allTable.style.display = 'table';
                            buyTable.style.display = 'none';
                            sellTable.style.display = 'none';
                            dropdownToggle.innerText = 'All';
                            fetchUserData(transactionType);
                        } else if (transactionType === 'Buy') {
                            console.log('Displaying Buy transactions table.'); // Debug statement
                            allTable.style.display = 'none';
                            buyTable.style.display = 'table';
                            sellTable.style.display = 'none';
                            dropdownToggle.innerText = 'Buy';
                            fetchUserData(transactionType);
                        } else if (transactionType === 'Sell') {
                            console.log('Displaying Sell transactions table.'); // Debug statement
                            allTable.style.display = 'none';
                            buyTable.style.display = 'none';
                            sellTable.style.display = 'table';
                            dropdownToggle.innerText = 'Sell';
                            fetchUserData(transactionType);
                        }
                
                        // Set font size for the selected option
                        selectedOption.style.fontSize = '100px';
                    }
                
                
                    function TransactionType(transactionType) {
                        console.log('Transaction type is:', transactionType); // Debug statement
                        var dropdownToggle = document.getElementById('transactionTypeDropdown');
                        dropdownToggle.innerText = transactionType;
                    
                        // Set the default transaction type to 'All' if no specific type is selected
                        var transactionTypeToSend = transactionType === 'All' ? 'All' : transactionType;
                    
                        // Make an AJAX request to fetch data based on the selected transaction type
                        fetchUserData(transactionTypeToSend);
                    }
                
                    function fetchUserData(transactionType) {
                        // Construct the request body
                        
                        var data = {
                            'transactionType': transactionType
                        };
                    
                        // Make a POST request to the backend
                        fetch('/registereduser/usertransactions/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCookie('csrftoken') // Include CSRF token if required
                            },
                            body: JSON.stringify(data)
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            // Handle the received data and update the table
                            //console.log(data);
                            updateAllTable(data);
                        })
                        .catch(error => {
                            console.error('There was a problem with the fetch operation:', error);
                        });
                    }
                
                    function updateAllTable(data) {
                        var tableBody = document.querySelector('#allTable tbody');
                        tableBody.innerHTML = ''; // Clear existing table content
                        
                        if (Array.isArray(data)) {
                            // Iterate over the array and populate the table
                            data.forEach(function(item, index) {
                                console.log(item); // Log the item object to inspect its structure
                                var row = document.createElement('tr');
                                row.innerHTML = `
                                    <td>${index + 1}</td>
                                    <td><button class="expand-btn"><span class="expand-sign">+</span></button></td>
                                    <td>${item.Etf_purchased__Etfnames || ''}</td>
                                    <td>${item.moddate || ''}</td>
                                    <td>${item.totalquantity || ''}</td>
                                    <td>₹ ${(item.modavg || 0).toFixed(2)}</td>
                                    <td>₹ ${(item.currentprice || 0).toFixed(2)}</td>
                                    <td style="color: ${getColor(item.percentdiff)};">${item.percentdiff || 0}%</td>
                                `;
                                
                                tableBody.appendChild(row);
                            });
                        } else {
                            console.error('Data is not an array.');
                        }
                    }
                
                    
                      
                    
                    
                    // Function to determine color based on percentage difference
                    function getColor(percentDiff) {
                        if (percentDiff > 0) {
                            return 'green';
                        } else if (percentDiff < 0) {
                            return 'red';
                        } else {
                            return 'black';
                        }
                    }
                    
                    
                    
                    function getCookie(name) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim();
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                
                
                     
                    
                    
                
                    document.addEventListener('DOMContentLoaded', function() {
                        const expandButtons = document.querySelectorAll('.expand-btn');
                
                        expandButtons.forEach(button => {
                            button.addEventListener('click', function () {
                                const row = this.closest('.expandable-row');
                                const detailsRow = row.nextElementSibling;
                                const ETFName = row.querySelector('td:nth-child(3)').textContent.trim(); // Assuming ETF name is in the third column
                
                                if (detailsRow.style.display === "none" || detailsRow.style.display === "") {
                                    detailsRow.style.display = "table-row";
                                    row.classList.add('table-info');
                                    button.innerHTML = '<span class="expand-sign">-</span>'; // Change button content to minus sign when expanding
                                    fetchDetailsData(ETFName, detailsRow.querySelector('.nested-table')); // Pass ETFName and nested table to fetchDetailsData
                                } else {
                                    detailsRow.style.display = "none";
                                    row.classList.remove('table-info');
                                    button.innerHTML = '<span class="expand-sign">+</span>'; // Change button content to plus sign when collapsing
                                }
                
                                // Reapply the styles to the expand sign
                                const expandSign = button.querySelector('.expand-sign');
                                expandSign.style.fontWeight = 'bold';
                                expandSign.style.fontSize = '1.6em'; // Adjust font size as needed
                            });
                        });
                    
                        
                    
                        function fetchDetailsData(ETFName, detailsRow) {
                            const userBuyHistoryUrl = document.getElementById('user_buy_history_url').dataset.url;
                            const csrftoken = getCookie('csrftoken');
                            const requestBody = {
                                ETFName: ETFName,
                            };
                            fetch(userBuyHistoryUrl, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': csrftoken
                                },
                                body: JSON.stringify(requestBody)
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data && data.detailed_data) {
                                    updateDetailedData(data.detailed_data, detailsRow);
                                } else {
                                    console.error('Invalid or missing detailed data:', data);
                                }
                            })
                            .catch(error => console.error('Error fetching details:', error));
                        }
                            
                        function updateDetailedData(data, detailsRow) {
                            const tableBody = detailsRow.querySelector('tbody');
                            tableBody.innerHTML = '';
                            data.forEach(entry => {
                                const formattedDateTime = formatDateTime(entry.Date_time); // Format the date-time
                        
                                // Format Cost
                                const costString = entry.Cost.toString(); // Convert cost to string
                                const costParts = costString.split('.'); // Split the string into parts before and after the decimal point
                                const costFormattedDecimal = costParts.length > 1 ? costParts[1].substring(0, 2) : '00'; // Ensure exactly two decimal places
                                const formattedCost = ` ₹ ${costParts[0]}.${costFormattedDecimal.padEnd(2, '0')}`;
                        
                                // Format Purchase Close Value
                                const purchaseCloseString = entry.Purchase_close_value.toString(); // Convert purchase close value to string
                                const purchaseCloseParts = purchaseCloseString.split('.'); // Split the string into parts before and after the decimal point
                                const purchaseCloseFormattedDecimal = purchaseCloseParts.length > 1 ? purchaseCloseParts[1].substring(0, 2) : '00'; // Ensure exactly two decimal places
                                const formattedPurchaseClose = ` ${purchaseCloseParts[0]}.${purchaseCloseFormattedDecimal.padEnd(2, '0')}`;
                        
                                // Format CurrCost
                                const currCostString = entry.CurrCost.toString(); // Convert CurrCost to string
                                const currCostParts = currCostString.split('.'); // Split the string into parts before and after the decimal point
                                const currCostFormattedDecimal = currCostParts.length > 1 ? currCostParts[1].substring(0, 2) : '00'; // Ensure exactly two decimal places
                                const formattedCurrCost = ` ₹ ${currCostParts[0]}.${currCostFormattedDecimal.padEnd(2, '0')} `;
                        
                                // Format CurrPrice
                                const currPriceString = entry.CurrPrice.toString(); // Convert CurrPrice to string
                                const currPriceParts = currPriceString.split('.'); // Split the string into parts before and after the decimal point
                                const currPriceFormattedDecimal = currPriceParts.length > 1 ? currPriceParts[1].substring(0, 2) : '00'; // Ensure exactly two decimal places
                                const formattedCurrPrice = ` ${currPriceParts[0]}.${currPriceFormattedDecimal.padEnd(2, '0')}`;
                        
                                const row = document.createElement('tr');
                                row.innerHTML = `
                                    <td>${formattedDateTime}</td>
                                    <td>${entry.Quantity}</td>
                                    <td>${formattedCost}</td> <!-- Display Cost with exactly 2 digits after the decimal point -->
                                    <td>${formattedPurchaseClose}</td> <!-- Display Purchase Close Value with exactly 2 digits after the decimal point -->
                                    <td>${formattedCurrCost}</td> <!-- Display CurrCost with exactly 2 digits after the decimal point -->
                                    <td>${formattedCurrPrice}</td> <!-- Display CurrPrice with exactly 2 digits after the decimal point -->
                                    <td style="color: 
                                    ${entry.PercentDiff > 0 ? 'green' : entry.PercentDiff < 0 ? 'red' : 'black'};">${entry.PercentDiff}%</td> <!-- Percentage Difference between Current cost and Buy Cost -->
                                    <td style="color: ${entry.trans_type === 'BUY' ? 'green' : 'red'};"><strong>${entry.trans_type}</strong></td>
                                    `;
                        
                                tableBody.appendChild(row);
                            });
                            detailsRow.style.display = "";
                        }
                        
                        
                        
                        // Function to format date-time
                        function formatDateTime(dateTimeString) {
                            const options = { 
                                year: 'numeric', 
                                month: 'short', 
                                day: '2-digit', 
                                
                            };
                            const dateTime = new Date(dateTimeString);
                            return dateTime.toLocaleString('en-US', options);
                        }
                        
                    
                        // Function to get CSRF token from cookie
                        function getCookie(name) {
                            let cookieValue = null;
                            if (document.cookie && document.cookie !== '') {
                                const cookies = document.cookie.split(';');
                                for (let i = 0; i < cookies.length; i++) {
                                    const cookie = cookies[i].trim();
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }
                    });
                    
                
                </script>
                
                <script>
                    function toggleTable() {
                        var switchButton = document.getElementById('toggle');
                        var buyForm = document.getElementById('buyfrom');
                        var sellForm = document.getElementById('sellform');
                        var modalDialog = document.getElementById('modalDialog');
                        var toggleButton = document.querySelector('.toggle-button');
                
                        if (switchButton.checked) {
                            buyForm.style.display = '';
                            sellForm.style.display = 'none';
                            toggleButton.style.left = 'calc(100% - 32px)'; // Move the button to the right
                            modalDialog.style.borderColor = 'green !important'; // Set border color to green
                        } else {
                            buyForm.style.display = 'none';
                            sellForm.style.display = '';
                            toggleButton.style.left = '2px'; // Move the button to the left
                            modalDialog.style.borderColor = 'red !important'; // Set border color to red
                        }
                    }
                
                    document.addEventListener('DOMContentLoaded', function() {
                        var toggleButton = document.querySelector('.toggle-button');
                
                        toggleButton.addEventListener('click', function() {
                            var switchButton = document.getElementById('toggle');
                            switchButton.checked = !switchButton.checked;
                            toggleTable();
                        });
                    });
                
                        // Function to fetch Etfnames and populate dropdowns
                        function populateDropdowns() {
                            // Make an AJAX request to fetch data from the Django view
                            $.ajax({
                                url: '{% url "UserBuy" %}',
                                type: 'GET',
                                dataType: 'json',
                                success: function(data) {
                                    // Populate the first dropdown
                                    var select1 = $('#ETF');
                                    select1.empty();
                                    select1.append('<option value="">Select</option>');
                                    $.each(data.data, function(index, item) {
                                        select1.append('<option value="' + item + '">' + item + '</option>');
                                    });
                        
                                    // Populate the second dropdown
                                    var select2 = $('#ETF_sell');
                                    select2.empty();
                                    select2.append('<option value="">Select</option>');
                                    $.each(data.user_etfs, function(index, item) {
                                        select2.append('<option value="' + item.Etf_purchased__Etfnames + '">' + item.Etf_purchased__Etfnames + '</option>');
                                    });
                                    
                                },
                                error: function(xhr, textStatus, errorThrown) {
                                    console.log('Error:', errorThrown);
                                }
                            });
                        }
                        
                    
                        // Attach click event listener to the button
                        $('#buysellbutton').click(function() {
                            console.log('Button clicked'); // Log when the button is clicked
                            populateDropdowns();
                          
                        });
                
                        // Function to update close and cost fields based on selected ETF and quantity
                        $(document).ready(function() {
                            // Define the showAlert function
                            function showAlert(message) {
                                alert(message); // This function will display a popup alert with the given message
                            }
                        
                            // Define the formatCloseValue function
                            function formatCloseValue(closeValue) {
                                const closeValueString = closeValue.toString();
                                const closeValueParts = closeValueString.split('.');
                                const formattedDecimal = closeValueParts.length > 1 ? closeValueParts[1].substring(0, 2) : '00';
                                return `${closeValueParts[0]}.${formattedDecimal.padEnd(2, '0')}`;
                            }
                        
                            // Define the updateCloseAndCost function
                            function updateCloseAndCost(closeElementId, closeValue, quantElementId, costElementId) {
                                var formattedCloseValue = formatCloseValue(closeValue);
                                $(closeElementId).val(formattedCloseValue);
                        
                                var quant = $(quantElementId).val();
                                var cost = (closeValue * quant).toFixed(2);
                                $(costElementId).val(cost);
                            }
                        
                            // Event handler for ETF selection change in buy form
                            $('#ETF').change(function() {
                                var selectedETF = $(this).val();
                                if (selectedETF) {
                                    $.ajaxSetup({
                                        headers: {
                                            'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                                        }
                                    });
                                    // Send selected ETF to backend to get close value
                                    $.ajax({
                                        url: '{% url "UserBuy" %}',
                                        type: 'POST',
                                        data: {
                                            'selected_etf': selectedETF,
                                            'form_type': 'get_close_value' // Indicate the form type
                                        },
                                        dataType: 'json',
                                        success: function(response) {
                                            // Check if the request was successful
                                            if (!response.success) {
                                                // If not successful, show the alert popup with the message
                                                showAlert(response.message);
                                            } else {
                                                // If successful, update close and cost values
                                                updateCloseAndCost('#close', response.closevalue, '#quant', '#cost');
                                            }
                                        },
                                        error: function(xhr, textStatus, errorThrown) {
                                            console.log('Error:', errorThrown);
                                            // Handle AJAX error
                                            alert('An error occurred. Please try again later.');
                                        }
                                    });
                                }
                            });
                        
                            // Event handler for quantity change in buy form
                            $('#quant').keyup(function() {
                                var closeValue = $('#close').val(); // Use the previously set close value
                                var quant = $(this).val();
                                var cost = (closeValue * quant).toFixed(2);
                                $('#cost').val(cost);
                            });
                        
                               // Event handler for ETF selection change in sell form
                            $('#ETF_sell').change(function() {
                                var selectedETF = $(this).val();
                                if (selectedETF) {
                                    $.ajaxSetup({
                                        headers: {
                                            'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                                        }
                                    });
                                    // Send selected ETF to backend to get close value
                                    $.ajax({
                                        url: '{% url "UserBuy" %}',
                                        type: 'POST',
                                        data: {
                                            'selected_etf': selectedETF,
                                            'form_type': 'get_close_value' // Indicate the form type
                                        },
                                        dataType: 'json',
                                        success: function(response) {
                                            if (!response.success) {
                                                // Display error message
                                                showAlert(response.message);
                                            }
                                            updateCloseAndCost('#close_sell', response.closevalue, '#quant_sell', '#cost_sell');
                                        },
                                        error: function(xhr, textStatus, errorThrown) {
                                            console.log('Error:', errorThrown);
                                            // Display error message as popup
                                            alert('An error occurred. Please try again later.');
                                        }
                                    });
                                }
                            });
                
                            // Event handler for quantity change in sell form
                            $('#quant_sell').keyup(function() {
                                var closeValue = $('#close_sell').val(); // Use the previously set close value
                                var quant = $(this).val();
                                var cost = (closeValue * quant).toFixed(2);
                                $('#cost_sell').val(cost);
                            });
                        });      
                  
                </script>

                
                <script>
                    // Function to handle transaction button click
                    function handleTransactionClick(row) {
                        var name = row.cells[1].innerText; // Get the value of the first column
                        const csrftoken = getCookie('csrftoken');
                        // Send the value to the backend URL using fetch API
                        fetch('/customadmin/admintrans/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrftoken
                            },
                            body: JSON.stringify({ name: name }),
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (!data || !data.dataall) {
                                throw new Error('Invalid response format or missing data_all property');
                            }
                            populateTable(data.dataall);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    }
                
                    function populateTable(data) {
                        var tableBody = document.querySelector('#allTable tbody');
                        tableBody.innerHTML = ''; // Clear existing table rows
                        data.forEach(entry => {
                            var row = document.createElement('tr');
                            row.classList.add('expandable-row');
                            console.log('Data should be shown:',data);
                            // Add table cells
                            row.innerHTML = `
                                
                                <td><button class="expand-btn"><span class="expand-sign">+</span></button></td>
                                <td>${entry.etf_name}</td>
                                <td>${entry.mod_date}</td>
                                <td>${entry.total_quantity}</td>
                                <td>₹ ${entry.mod_avg.toFixed(2)}</td>
                                <td>₹ ${entry.current_price.toFixed(2)}</td>
                                <td style="color: ${entry.percent_diff > 0 ? 'green' : entry.percent_diff < 0 ? 'red' : 'black'};">${entry.percent_diff.toFixed(2)}%</td>
                                <td>${entry['20dma'][entry.etf_name].toFixed(2)}</td>
                                <td>${entry.etf_close_minus_20dma[entry.etf_name].toFixed(2)}</td>
                                <td>${entry.etf_close_div_20dma[entry.etf_name].toFixed(2)}%</td>
                                <td>${entry['50dma'][entry.etf_name].toFixed(2)}</td>
                                <td>${entry.etf_close_minus_50dma[entry.etf_name].toFixed(2)}</td>
                                <td>${entry.etf_close_div_50dma[entry.etf_name].toFixed(2)}%</td>
                                <td>${entry['100dma'][entry.etf_name].toFixed(2)}</td>
                                <td>${entry.etf_close_minus_100dma[entry.etf_name].toFixed(2)}</td>
                                <td>${entry.etf_close_div_100dma[entry.etf_name].toFixed(2)}%</td>
                            `;
                
                            tableBody.appendChild(row);
                        });
                    }
                
                    // Function to get CSRF token from cookie
                    function getCookie(name) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim();
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                
                    // Add event listener to all transaction buttons
                    document.querySelectorAll('.btn.btn-primary').forEach(button => {
                        button.addEventListener('click', function() {
                            var row = this.closest('tr'); // Get the parent row of the clicked button
                            handleTransactionClick(row);
                        });
                    });
                </script>