{% extends "userbase.html" %}
{% block title %}Stocks{% endblock title %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    /* CUSTOM UTIL CLASSES */
    

    .modal-body {
        background: #00B4DB; /* Set modal body background color to the same as body-pricing */
        background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
        background: linear-gradient(to right, #0083B0, #00B4DB);
        color: #514B64;
        min-height: 100vh;
        padding-bottom: 100px;
    }

    .rounded-lg {
        border-radius: 1rem !important;
    }

    .text-small {
        font-size: 0.9rem !important;
    }

    .custom-separator {
        width: 5rem;
        height: 6px;
        border-radius: 1rem;
    }

    .text-uppercase {
        letter-spacing: 0.2em;
    }

    /* FOR DEMO PURPOSES */
    body-pricing {
        background: #00B4DB;
        background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
        background: linear-gradient(to right, #0083B0, #00B4DB);
        color: #514B64;
        min-height: 100vh;
    }

    .pricing-card {
        transition: all 0.3s ease;
    }

    /* Add this style to increase hover effect */
    .pricing-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    }

    .dropdown-button {
        background: transparent;
        border: none;
        color: inherit;
    }
</style>

<main id="main" class="main">
    <div class="pagetitle">
      <h1>THIS IS STOCKS PAGE</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "UserDashboard"%}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url "etftables" 'niftybees_NS' %}">Niftybees</a></li>
          <li class="breadcrumb-item"><a href="{% url "etftables" 'itbees_NS' %}">Itbees</a></li>
          <li class="breadcrumb-item"><a href="{% url "etftables" 'sbietfit_NS' %}">Sbietfit</a></li>
        </ol>
      </nav>
    </div>

    <section class="section">
      <div class="row ">
          <div class="col-lg-12">        
              <div class="card">
                  <div class="card-body" style="overflow-x: auto;">
                      <h5 class="card-title fw-bold">{{table_name}}</h5>  
                      
                      <!--Search Bar-->
                      <div class="form-group has-search col-md-4">
                                    
                        <input id="search" type="text" class="form-control" placeholder="Search">
                        
                    </div> 
                    <hr/>  
                        <table class="table   table-hover" id="stockstable"> 
                            
                            <thead>                           
                                <tr>
                                    <th style="white-space: nowrap;">S. no. </th>
                                    <th style="white-space: nowrap;">Underlying assets</th>
                                    <th style="white-space: nowrap;">Open</th>
                                    <th style="white-space: nowrap;">High</th>
                                    <th style="white-space: nowrap;">Low</th>
                                    <th style="white-space: nowrap;">CMP</th> 
                                    
                                    <th style="white-space: nowrap;">20 DMA</th> 
                                    <th style="white-space: nowrap;">CMP - 20 DMA</th> 
                                    <th style="white-space: nowrap;">20 DMA vs CMP</th> 
                                    <th style="white-space: nowrap;">50 DMA</th> 
                                    <th style="white-space: nowrap;">CMP - 50 DMA</th> 
                                    <th style="white-space: nowrap;">50 DMA vs CMP</th> 
                                    <th style="white-space: nowrap;">100 DMA</th> 
                                    <th style="white-space: nowrap;">CMP - 100 DMA</th> 
                                    <th style="white-space: nowrap;">100 DMA vs CMP</th> 
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in data %}
                                

                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ d.Etfnames }}</td>
                                    <td>{{ d.Open|floatformat:2 }}</td>
                                    <td>{{ d.high|floatformat:2 }}</td>
                                    <td>{{ d.low|floatformat:2 }}</td>
                                    <td>{{ d.close|floatformat:2 }}</td> 
                                    {% comment %} <td>{{ etf_data }}</td>  {% endcomment %}
                                    
                                        {% for key, value in etf_data.items %}
                                            {% if key == d.Etfnames %}
                                                {% if user.sub_status == 'Gold' or user.sub_status == 'Silver' or user.sub_status == 'Platinum' %}
                                                    <td>{{ value|floatformat:2  }}</td>
                                                {% else %}
                                                    <td><button style="background-color: transparent; border: none; color: black; font-size: 16px; cursor: pointer; padding: 0;" data-bs-toggle="modal" data-bs-target="#ExtralargeModal">?</button></td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% for key, value in etf_close_minus_20dma.items %}
                                            {% if key == d.Etfnames %}
                                                {% if user.sub_status == 'Gold' or user.sub_status == 'Silver' or user.sub_status == 'Platinum' %}
                                                    {% if value < 0 %}
                                                        <td style="color: red">{{ value|floatformat:2 }}</td>
                                                    {% elif value > 0 %}
                                                        <td style="color: green">{{ value|floatformat:2 }}</td>
                                                    {% else %}
                                                        <td>{{ value|floatformat:2 }}</td>
                                                    {% endif %}
                                                {% else %}
                                                    <td><button style="background-color: transparent; border: none; color: black; font-size: 16px; cursor: pointer; padding: 0;" data-bs-toggle="modal" data-bs-target="#ExtralargeModal">?</button></td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% for key, value in etf_close_div_20dma.items %}
                                            {% if key == d.Etfnames %}
                                                {% if user.sub_status == 'Gold' or user.sub_status == 'Silver' or user.sub_status == 'Platinum' %}
                                                    {% if value < 0 %}
                                                        <td style="color: red">{{ value|floatformat:2 }}%</td>
                                                    {% elif value > 0 %}
                                                        <td style="color: green">{{ value|floatformat:2 }}%</td>
                                                    {% else %}
                                                        <td>{{ value|floatformat:2 }}%</td>
                                                    {% endif %}
                                                {% else %}
                                                    <td><button style="background-color: transparent; border: none; color: black; font-size: 16px; cursor: pointer; padding: 0;" data-bs-toggle="modal" data-bs-target="#ExtralargeModal">?</button></td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    
                                    
                                        {% for key, value in etf_data_50dma.items %}
                                            {% if key == d.Etfnames %}
                                                {% if user.sub_status == 'Gold' or user.sub_status == 'Silver' or user.sub_status == 'Platinum' %}
                                                    <td>{{ value|floatformat:2 }}</td>
                                                {% else %}
                                                    <td><button style="background-color: transparent; border: none; color: black; font-size: 16px; cursor: pointer; padding: 0;" data-bs-toggle="modal" data-bs-target="#ExtralargeModal">?</button></td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <!-- Close - 50DMA -->
                                        {% for key, value in etf_close_minus_50dma.items %}
                                            {% if key == d.Etfnames %}
                                                {% if user.sub_status == 'Gold' or user.sub_status == 'Silver' or user.sub_status == 'Platinum' %}
                                                    {% if value < 0 %}
                                                        <td style="color: red">{{ value|floatformat:2 }}</td>
                                                    {% elif value > 0 %}
                                                        <td style="color: green">{{ value|floatformat:2 }}</td>
                                                    {% else %}
                                                        <td>{{ value|floatformat:2 }}</td>
                                                    {% endif %}
                                                {% else %}
                                                    <td><button style="background-color: transparent; border: none; color: black; font-size: 16px; cursor: pointer; padding: 0;" data-bs-toggle="modal" data-bs-target="#ExtralargeModal">?</button></td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <!-- Close / 50DMA -->
                                        {% for key, value in etf_close_div_50dma.items %}
                                            {% if key == d.Etfnames %}
                                                {% if user.sub_status == 'Gold' or user.sub_status == 'Silver' or user.sub_status == 'Platinum' %}
                                                    {% if value < 0 %}
                                                        <td style="color: red">{{ value|floatformat:2 }}</td>
                                                    {% elif value > 0 %}
                                                        <td style="color: green">{{ value|floatformat:2 }}</td>
                                                    {% else %}
                                                        <td>{{ value|floatformat:2 }}</td>
                                                    {% endif %}
                                                {% else %}
                                                    <td><button style="background-color: transparent; border: none; color: black; font-size: 16px; cursor: pointer; padding: 0;" data-bs-toggle="modal" data-bs-target="#ExtralargeModal">?</button></td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    

                                        {% for key, value in etf_data_100dma.items %}
                                            {% if key == d.Etfnames %}
                                                {% if user.sub_status == 'Gold' or user.sub_status == 'Silver' or user.sub_status == 'Platinum' %}
                                                    <td>{{ value|floatformat:2 }}</td>
                                                {% else %}
                                                    <td><button style="background-color: transparent; border: none; color: black; font-size: 16px; cursor: pointer; padding: 0;" data-bs-toggle="modal" data-bs-target="#ExtralargeModal">?</button></td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <!-- Close - 50DMA -->
                                        {% for key, value in etf_close_minus_100dma.items %}
                                            {% if key == d.Etfnames %}
                                                {% if user.sub_status == 'Gold' or user.sub_status == 'Silver' or user.sub_status == 'Platinum' %}
                                                    {% if value < 0 %}
                                                        <td style="color: red">{{ value|floatformat:2 }}</td>
                                                    {% elif value > 0 %}
                                                        <td style="color: green">{{ value|floatformat:2 }}</td>
                                                    {% else %}
                                                        <td>{{ value|floatformat:2 }}</td>
                                                    {% endif %}
                                                {% else %}
                                                    <td><button style="background-color: transparent; border: none; color: black; font-size: 16px; cursor: pointer; padding: 0;" data-bs-toggle="modal" data-bs-target="#ExtralargeModal">?</button></td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <!-- Close / 50DMA -->
                                        {% for key, value in etf_close_div_100dma.items %}
                                            {% if key == d.Etfnames %}
                                                {% if user.sub_status == 'Gold' or user.sub_status == 'Silver' or user.sub_status == 'Platinum' %}
                                                    {% if value < 0 %}
                                                        <td style="color: red">{{ value|floatformat:2 }}</td>
                                                    {% elif value > 0 %}
                                                        <td style="color: green">{{ value|floatformat:2 }}</td>
                                                    {% else %}
                                                        <td>{{ value|floatformat:2 }}</td>
                                                    {% endif %}
                                                {% else %}
                                                    <td><button style="background-color: transparent; border: none; color: black; font-size: 16px; cursor: pointer; padding: 0;" data-bs-toggle="modal" data-bs-target="#ExtralargeModal">?</button></td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    
                                

                                    {% comment %} {% if etf_data.key == d.Etfnames %}<td>{{etf_data.value}}</td>{% endif %} {% endcomment %}
                                </tr>
                                {% endfor %}  
                                                   
                            </tbody> 
                            
                    
                        </table>
                        
                                             <!-- pagination added -->
                                             <div class="pagination mt-3" style="text-align: center;">
                                                <span class="step-links">
                                                    {% if data.has_previous %}
                                                    <!-- <a href="?page=1" class="pagination-link" style="display: inline-block; padding: 5px 10px; margin-right: 5px; background-color: #f2f2f2; border: 1px solid #ddd; color: #333; text-decoration: none;">&laquo; first</a> -->
                                                    <a href="?page={{ data.previous_page_number }}" class="pagination-link" style="display: inline-block; padding: 5px 10px; margin-right: 5px; background-color: #f2f2f2; border: 1px solid #ddd; color: #333; text-decoration: none;">previous</a>
                                                {% endif %}
                                                
                                                    
                                                    <div class="pagination-box" style="display: inline-block;">
                                                        {% for i in data.paginator.page_range %}
                                                            {% if i <= 5 %}
                                                                {% if data.number == i %}
                                                                    <span class="current" style="padding: 5px 10px; margin-right: 5px; background-color: #007bff; color: #fff; border: 1px solid #007bff;">{{ i }}</span>
                                                                {% else %}
                                                                    <a href="?page={{ i }}" class="pagination-link" style="display: inline-block; padding: 5px 10px; margin-right: 5px; background-color: #f2f2f2; border: 1px solid #ddd; color: #333; text-decoration: none;">{{ i }}</a>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    
                                                    {% if data.paginator.num_pages > 5 %}
                                                        <a href="?page={{ data.number|add:1 }}" class="pagination-link" style="display: inline-block; padding: 5px 10px; margin-right: 5px; background-color: #f2f2f2; border: 1px solid #ddd; color: #333; text-decoration: none;">next</a>
                                                    {% endif %}
                                                </span>
                                            </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </main> 
  
  
  <div class="modal fade" id="ExtralargeModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" id="modalDialog">
      <div class="modal-content">
        <div class="modal-header text-center">
            <h5 class="modal-title w-100">Buy Subscriptions</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="EL-modal-body overflow-auto">
          <!-- add code here-->
          <div class = "body-pricing">
            <section>
                <div class="container py-5" style="max-height: 80vh; overflow-y: auto;">

                    <!-- FOR DEMO PURPOSE -->
                    <header class="text-center mb-5 text-white">
                        <div class="row">
                            <div class="col-lg-7 mx-auto">
                                <h1>Subscription Table</h1>
                                <p>Select any subscription from below<br></p>
                            </div>
                        </div>
                    </header>
                    <!-- END -->


                    <div class="row text-center align-items-end">
                        <!-- Pricing Table-->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <div class="bg-white p-5 rounded-lg shadow pricing-card">
                                <h1 class="h6 text-uppercase font-weight-bold mb-4">Silver</h1>
                                <h2 class="h1 font-weight-bold">₹<span id="silver-price">100</span>/<div class="dropdown my-4">
                                    <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="silver-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        1 month
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="silver-dropdown">
                                        <a class="dropdown-item" href="#" onclick="updatePrice('silver', 100, '1 month')">1 Month</a>
                                        <a class="dropdown-item" href="#" onclick="updatePrice('silver', 200, '3 months')">3 Months</a>
                                        <a class="dropdown-item" href="#" onclick="updatePrice('silver', 300, '6 months')">6 Months</a>
                                        <a class="dropdown-item" href="#" onclick="updatePrice('silver', 500, '1 year')">1 Year</a>
                                    </div>
                                </div></h2>
                                <div class="custom-separator my-4 mx-auto bg-primary"></div>
                                <ul class="list-unstyled my-5 text-small text-left">
                                    <li class="mb-3">
                                        <i class="fa fa-check mr-2 text-primary"></i> ETF data</li>
                                    <li class="mb-3 text-muted">
                                        <i class="fa fa-times mr-2"></i>
                                        <del>DMA comparisons</del>
                                    </li>
                                    <li class="mb-3 text-muted">
                                        <i class="fa fa-times mr-2"></i>
                                        <del>Buy/Sell ETFs</del>
                                    </li>
                                    <li class="mb-3 text-muted">
                                        <i class="fa fa-times mr-2"></i>
                                        <del>Feature 4</del>
                                    </li>
                                    <li class="mb-3 text-muted">
                                        <i class="fa fa-times mr-2"></i>
                                        <del>Feature 5</del>
                                    </li>
                                    <li class="mb-3 text-muted">
                                        <i class="fa fa-times mr-2"></i>
                                        <del>Feature 6</del>
                                    </li>
                                </ul>
                                <!-- Inside each pricing card -->
                                <a class="btn btn-primary btn-block p-2 shadow rounded-pill" onclick="fetchSubscriptionDetails('Silver', getSelectedTimePeriod('silver'))" data-bs-dismiss="modal">Subscribe</a>

                            </div>
                        </div>
                        <!-- END -->


                        <!-- Pricing Table-->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <div class="bg-white p-5 rounded-lg shadow pricing-card">
                                <h1 class="h6 text-uppercase font-weight-bold mb-4">Gold</h1>
                                <h2 class="h1 font-weight-bold">₹<span id="gold-price">200</span>/<div class="dropdown my-4">
                                    <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="gold-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        1 month
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="gold-dropdown">
                                        <a class="dropdown-item" href="#" onclick="updatePrice('gold', 200, '1 month')">1 Month</a>
                                        <a class="dropdown-item" href="#" onclick="updatePrice('gold', 300, '3 months')">3 Months</a>
                                        <a class="dropdown-item" href="#" onclick="updatePrice('gold', 500, '6 months')">6 Months</a>
                                        <a class="dropdown-item" href="#" onclick="updatePrice('gold', 800, '1 year')">1 Year</a>
                                    </div>
                                </div></h2>
                                <div class="custom-separator my-4 mx-auto bg-primary"></div>
                                <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                                    <li class="mb-3">
                                        <i class="fa fa-check mr-2 text-primary"></i> ETF data</li>
                                    <li class="mb-3">
                                        <i class="fa fa-check mr-2 text-primary"></i> DMA comparisons</li>
                                    <li class="mb-3">
                                        <i class="fa fa-check mr-2 text-primary"></i> Buy/Sell ETFs</li>
                                    <li class="mb-3 text-muted">
                                        <i class="fa fa-times mr-2"></i>
                                        <del>Feature 4</del>
                                    </li>
                                    <li class="mb-3 text-muted">
                                        <i class="fa fa-times mr-2"></i>
                                        <del>Feature 5</del>
                                    </li>
                                    <li class="mb-3 text-muted">
                                        <i class="fa fa-times mr-2"></i>
                                        <del>Feature 6</del>
                                    </li>
                                </ul>
                                <a class="btn btn-primary btn-block p-2 shadow rounded-pill" onclick="fetchSubscriptionDetails('Gold', getSelectedTimePeriod('gold'))" data-bs-dismiss="modal">Subscribe</a>
                            </div>
                        </div>
                        <!-- END -->


                        <!-- Pricing Table-->
                        <div class="col-lg-4">
                            <div class="bg-white p-5 rounded-lg shadow pricing-card">
                                <h1 class="h6 text-uppercase font-weight-bold mb-4">Diamond</h1>
                                <h2 class="h1 font-weight-bold">₹<span id="Diamond-price">300</span>/<div class="dropdown my-4">
                                    <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="Diamond-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        1 month
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="Diamond-dropdown">
                                        <a class="dropdown-item" href="#" onclick="updatePrice('Diamond', 300, '1 month')">1 Month</a>
                                        <a class="dropdown-item" href="#" onclick="updatePrice('Diamond', 500, '3 months')">3 Months</a>
                                        <a class="dropdown-item" href="#" onclick="updatePrice('Diamond', 800, '6 months')">6 Months</a>
                                        <a class="dropdown-item" href="#" onclick="updatePrice('Diamond', 1200, '1 year')">1 Year</a>
                                    </div>
                                </div></h2>
                                <div class="custom-separator my-4 mx-auto bg-primary"></div>
                                <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                                    <li class="mb-3">
                                        <i class="fa fa-check mr-2 text-primary"></i> ETF data</li>
                                    <li class="mb-3">
                                        <i class="fa fa-check mr-2 text-primary"></i> DMA comparisons</li>
                                    <li class="mb-3">
                                        <i class="fa fa-check mr-2 text-primary"></i> Buy/Sell ETFs</li>
                                    <li class="mb-3">
                                        <i class="fa fa-check mr-2 text-primary"></i> Feature 4</li>
                                    <li class="mb-3">
                                        <i class="fa fa-check mr-2 text-primary"></i> Feature 5</li>
                                    <li class="mb-3">
                                        <i class="fa fa-check mr-2 text-primary"></i> Feature 6</li>
                                </ul>
                                <a class="btn btn-primary btn-block p-2 shadow rounded-pill" onclick="fetchSubscriptionDetails('Diamond', getSelectedTimePeriod('Diamond'))" data-bs-dismiss="modal">Subscribe</a>
                            </div>
                        </div>
                        <!-- END -->

                    </div>
                </div>
            </section>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<script>
    function updatePrice(card, price, label) {
        document.getElementById(card + '-price').textContent = price;
        document.getElementById(card + '-dropdown').textContent = label;
    }

    // Function to retrieve the selected time period from the dropdown menu
    function getSelectedTimePeriod(card) {
      // Get the selected option from the dropdown menu
      const dropdown = document.getElementById(card + '-dropdown');
      const selectedOption = dropdown.textContent.trim(); // Trim to remove any leading/trailing whitespace
      console.log(selectedOption);
      return selectedOption;
    }

    // Function to fetch subscription details based on selected subscription type and time period
    function fetchSubscriptionDetails(subscriptionType, timePeriod) {
      let fetchUrl = '/registereduser/subs/'; // Replace with your Django URL for fetching subscription details
      const csrftoken = getCookie('csrftoken');
      const requestBody = {
          subscriptionType: subscriptionType,
          timePeriod: timePeriod
      };

      fetch(fetchUrl, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrftoken
          },
          body: JSON.stringify(requestBody)
      })
    }

    // Function to get CSRF token from cookie
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    // Function to filter rows based on search input
    function filterRows() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("stockstable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those that don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1]; // Change index to match the column of ETF names
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    // Attach filter function to input field
    document.getElementById("search").addEventListener("keyup", filterRows);
});
</script>
 
  {% endblock body %}
