{% extends "userbase.html" %}
{% block title %}Stocks{% endblock title %}
{% load static %}
{% block body %}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>THIS IS STOCKS PAGE</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "UserDashboard"%}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url "etftables" 'niftybees_NS' %}">Niftybees</a></li>
          <li class="breadcrumb-item"><a href="{% url "etftables" 'itbees_NS' %}">Itbees</a></li>
          <li class="breadcrumb-item"><a href="{% url "etftables" 'sbietfit_NS' %}">Sbietfit</a></li>
        </ol>
      </nav>
    </div>

    <section class="section">
      <div class="row ">
          <div class="col-lg-12">        
              <div class="card">
                  <div class="card-body" style="overflow-x: auto;">
                      <h5 class="card-title fw-bold">{{table_name}}</h5>  
                      
                      <!--Search Bar-->
                      <div class="form-group has-search col-md-4">
                                    
                        <input id="search" type="text" class="form-control" placeholder="Search">
                        
                    </div> 
                    <hr/>  
                        <table class="table   table-hover" id="stockstable"> 
                            
                            <thead>                           
                                <tr>
                                    <th style="white-space: nowrap;">S. no. </th>
                                    <th style="white-space: nowrap;">Underlying assets</th>
                                    <th style="white-space: nowrap;">Open</th>
                                    <th style="white-space: nowrap;">High</th>
                                    <th style="white-space: nowrap;">Low</th>
                                    <th style="white-space: nowrap;">CMP</th> 
                                    {% if user.sub_status == 'Gold' or user.sub_status == 'Silver' or user.sub_status == 'Platinum' %}
                                    <th style="white-space: nowrap;">20 DMA</th> 
                                    <th style="white-space: nowrap;">CMP - 20 DMA</th> 
                                    <th style="white-space: nowrap;">20 DMA vs CMP</th> 
                                    <th style="white-space: nowrap;">50 DMA</th> 
                                    <th style="white-space: nowrap;">CMP - 50 DMA</th> 
                                    <th style="white-space: nowrap;">50 DMA vs CMP</th> 
                                    <th style="white-space: nowrap;">100 DMA</th> 
                                    <th style="white-space: nowrap;">CMP - 100 DMA</th> 
                                    <th style="white-space: nowrap;">100 DMA vs CMP</th> 
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in data %}
                                

                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ d.Etfnames }}</td>
                                    <td>{{ d.Open|floatformat:2 }}</td>
                                    <td>{{ d.high|floatformat:2 }}</td>
                                    <td>{{ d.low|floatformat:2 }}</td>
                                    <td>{{ d.close|floatformat:2 }}</td> 
                                    {% comment %} <td>{{ etf_data }}</td>  {% endcomment %}
                                    {% if user.sub_status == 'Gold' or user.sub_status == 'Silver' or user.sub_status == 'Platinum' %}
                                    {% for key, value in etf_data.items %}
                                        {% if key == d.Etfnames %}
                                            <td>{{ value|floatformat:2  }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    {% for key, value in etf_close_minus_20dma.items %}
                                    {% if key == d.Etfnames %}
                                        {% if value < 0 %}
                                            <td style="color: red">{{ value|floatformat:2 }}</td>
                                        {% elif value > 0 %}
                                            <td style="color: green">{{ value|floatformat:2 }}</td>
                                        {% else %}
                                            <td>{{ value|floatformat:2 }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                        
                                {% for key, value in etf_close_div_20dma.items %}
                                    {% if key == d.Etfnames %}
                                        {% if value < 0 %}
                                            <td style="color: red">{{ value|floatformat:2 }}%</td>
                                        {% elif value > 0 %}
                                            <td style="color: green">{{ value|floatformat:2 }}%</td>
                                        {% else %}
                                            <td>{{ value|floatformat:2 }}%</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}


                                {% for key, value in etf_data_50dma.items %}
                                {% if key == d.Etfnames %}
                                    <td>{{ value|floatformat:2 }}</td>
                                {% endif %}
                            {% endfor %}
                            <!-- Close - 50DMA -->
                            {% for key, value in etf_close_minus_50dma.items %}
                                {% if key == d.Etfnames %}
                                    {% if value < 0 %}
                                        <td style="color: red">{{ value|floatformat:2 }}</td>
                                    {% elif value > 0 %}
                                        <td style="color: green">{{ value|floatformat:2 }}</td>
                                    {% else %}
                                        <td>{{ value|floatformat:2 }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <!-- Close / 50DMA -->
                            {% for key, value in etf_close_div_50dma.items %}
                                {% if key == d.Etfnames %}
                                    {% if value < 0 %}
                                        <td style="color: red">{{ value|floatformat:2 }}%</td>
                                    {% elif value > 0 %}
                                        <td style="color: green">{{ value|floatformat:2 }}%</td>
                                    {% else %}
                                        <td>{{ value|floatformat:2 }}%</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}


                            {% for key, value in etf_data_100dma.items %}
                            {% if key == d.Etfnames %}
                                <td>{{ value|floatformat:2 }}</td>
                            {% endif %}
                        {% endfor %}
                        <!-- Close - 50DMA -->
                        {% for key, value in etf_close_minus_100dma.items %}
                            {% if key == d.Etfnames %}
                                {% if value < 0 %}
                                    <td style="color: red">{{ value|floatformat:2 }}</td>
                                {% elif value > 0 %}
                                    <td style="color: green">{{ value|floatformat:2 }}</td>
                                {% else %}
                                    <td>{{ value|floatformat:2 }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <!-- Close / 50DMA -->
                        {% for key, value in etf_close_div_100dma.items %}
                            {% if key == d.Etfnames %}
                                {% if value < 0 %}
                                    <td style="color: red">{{ value|floatformat:2 }}%</td>
                                {% elif value > 0 %}
                                    <td style="color: green">{{ value|floatformat:2 }}%</td>
                                {% else %}
                                    <td>{{ value|floatformat:2 }}%</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                                

                                    {% comment %} {% if etf_data.key == d.Etfnames %}<td>{{etf_data.value}}</td>{% endif %} {% endcomment %}
                                </tr>
                                {% endfor %}  
                                                   
                            </tbody> 
                            
                    
                        </table>
                        
                                             <!-- pagination added -->
                                             <div class="pagination mt-3" style="text-align: center;">
                                                <span class="step-links">
                                                    {% if data.has_previous %}
                                                    <!-- <a href="?page=1" class="pagination-link" style="display: inline-block; padding: 5px 10px; margin-right: 5px; background-color: #f2f2f2; border: 1px solid #ddd; color: #333; text-decoration: none;">&laquo; first</a> -->
                                                    <a href="?page={{ data.previous_page_number }}" class="pagination-link" style="display: inline-block; padding: 5px 10px; margin-right: 5px; background-color: #f2f2f2; border: 1px solid #ddd; color: #333; text-decoration: none;">previous</a>
                                                {% endif %}
                                                
                                                    
                                                    <div class="pagination-box" style="display: inline-block;">
                                                        {% for i in data.paginator.page_range %}
                                                            {% if i <= 5 %}
                                                                {% if data.number == i %}
                                                                    <span class="current" style="padding: 5px 10px; margin-right: 5px; background-color: #007bff; color: #fff; border: 1px solid #007bff;">{{ i }}</span>
                                                                {% else %}
                                                                    <a href="?page={{ i }}" class="pagination-link" style="display: inline-block; padding: 5px 10px; margin-right: 5px; background-color: #f2f2f2; border: 1px solid #ddd; color: #333; text-decoration: none;">{{ i }}</a>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    
                                                    {% if data.paginator.num_pages > 5 %}
                                                        <a href="?page={{ data.number|add:1 }}" class="pagination-link" style="display: inline-block; padding: 5px 10px; margin-right: 5px; background-color: #f2f2f2; border: 1px solid #ddd; color: #333; text-decoration: none;">next</a>
                                                    {% endif %}
                                                </span>
                                            </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </main>  

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Function to filter rows based on search input
        function filterRows() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("stockstable");
            tr = table.getElementsByTagName("tr");
    
            // Loop through all table rows, and hide those that don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1]; // Change index to match the column of ETF names
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    
        // Attach filter function to input field
        document.getElementById("search").addEventListener("keyup", filterRows);
    });
 </script>
 
  {% endblock body %}
