{% extends "guestBase.html" %}
{% block title %}Stocks{% endblock title %}
{% load static %}
{% block body %}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Stocks details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "index"%}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url "niftybees" %}">Niftybees</a></li>
          <li class="breadcrumb-item"><a href="{% url "itbees" %}">Itbees</a></li>
          <li class="breadcrumb-item"><a href="{% url "sbietfit" %}">Sbietfit</a></li>
        </ol>
      </nav>
    </div>
    <section class="section">
        <div class="row ">
            <div class="col-lg-12">        
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title fw-bold">{{table_name}}</h5>  
                    <form id="filterForm" action="{% url 'movalue' %}" method="POST">
                      {% csrf_token %}
                      
                          <div class="row">
                              <div class="col-3">
                                  <div class="cardbody">
                                      <label for="startDate">Select start Date</label>
                                      <input type="date" id="startDate" name="start_date" class="form-control">
                                  </div>
                              </div>
                      
                              <div class="col-3">
                                  <div class="cardbody">
                                      <label for="endDate">Select end Date</label>
                                      <input type="date" id="endDate" name="end_date" class="form-control">
                                  </div>
                              </div>
                      
                              <div class="cardbody mt-3">
                                  <button type="submit" class="btn-primary btn mt-1 btn-sm btn-rounded" style="background-color: #000080;">Apply filter</button>
                              </div>
                                                  
                              <div class="col-12 mt-2">
                                  <hr class="my-4" style="border-top: 1px solid #100f0f;">
                              </div>
                          </div>
                   
                      
                  </form>  
                    <table class="table   table-hover"> 
                       
                   
                   
                    
                      
                      
                        <thead>                           
                            <tr>
                                <th class="sortable">Date <i class="fas fa-sort"></i></th>
                                <th class="sortable">Open <i class="fas fa-sort"></i></th>
                                <th class="sortable">High <i class="fas fa-sort"></i></th>
                                <th class="sortable">Low <i class="fas fa-sort"></i></th>
                                <th class="sortable">Close <i class="fas fa-sort"></i></th>
                                 
                                 
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td>{{ d.date }}</td>
                                <td>{{d.Open|floatformat:2}}</td>
                                <td>{{d.high|floatformat:2}}</td>
                                <td>{{d.low|floatformat:2}}</td>
                                <td>{{d.close|floatformat:2}}</td>
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                       <!-- pagination added -->
                       <div class="pagination mt-3" style="text-align: center;">
                        <span class="step-links">
                            {% if data.has_previous %}
                            <!-- <a href="?page=1" class="pagination-link" style="display: inline-block; padding: 5px 10px; margin-right: 5px; background-color: #f2f2f2; border: 1px solid #ddd; color: #333; text-decoration: none;">&laquo; first</a> -->
                            <a href="?page={{ data.previous_page_number }}" class="pagination-link" style="display: inline-block; padding: 5px 10px; margin-right: 5px; background-color: #f2f2f2; border: 1px solid #ddd; color: #333; text-decoration: none;">previous</a>
                        {% endif %}
                        
                            
                            <div class="pagination-box" style="display: inline-block;">
                                {% for i in data.paginator.page_range %}
                                    {% if i <= 5 %}
                                        {% if data.number == i %}
                                            <span class="current" style="padding: 5px 10px; margin-right: 5px; background-color: #007bff; color: #fff; border: 1px solid #007bff;">{{ i }}</span>
                                        {% else %}
                                            <a href="?page={{ i }}" class="pagination-link" style="display: inline-block; padding: 5px 10px; margin-right: 5px; background-color: #f2f2f2; border: 1px solid #ddd; color: #333; text-decoration: none;">{{ i }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            
                            {% if data.paginator.num_pages > 5 %}
                                <a href="?page={{ data.number|add:1 }}" class="pagination-link" style="display: inline-block; padding: 5px 10px; margin-right: 5px; background-color: #f2f2f2; border: 1px solid #ddd; color: #333; text-decoration: none;">next</a>
                            {% endif %}
                        </span>
                    </div>


                    </div>
                </div>
            </div>
        </div>
        
      
 
    </section>
</main>  
{% endblock body %}


 