{% extends "base1.html" %}
{% block title %}Stocks{% endblock title %}
{% load static %}
{% block body %}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Stocks details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "index"%}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url "niftybeesns" %}">Niftybees</a></li>
          <li class="breadcrumb-item"><a href="{% url "itbeesns" %}">Itbees</a></li>
          <li class="breadcrumb-item"><a href="{% url "sbietfitns" %}">Sbietfit</a></li>
          <li class="breadcrumb-item"><a href="{% url "abslnn50etns" %}">Abslnn50</a></li>
          <li class="breadcrumb-item"><a href="{% url "axistecns" %}">Axistec</a></li>
          <li class="breadcrumb-item"><a href="{% url "commoietfns" %}">Commoietf</a></li>
          <li class="breadcrumb-item"><a href="{% url "cpseetfns" %}">Cpseetf</a></li>
          <li class="breadcrumb-item"><a href="{% url "dspitetfns" %}">Dspitetf</a></li>
          <li class="breadcrumb-item"><a href="{% url "dspq50etfns" %}">Dspq50</a></li>
          <li class="breadcrumb-item"><a href="{% url "icicib22ns" %}">Icicib22</a></li>
          <li class="breadcrumb-item"><a href="{% url "itins" %}">Iti</a></li>
          <li class="breadcrumb-item"><a href="{% url "kotakns" %}">Kotak</a></li>
          <li class="breadcrumb-item"><a href="{% url "mafangns" %}">Mafang</a></li>
          <li class="breadcrumb-item"><a href="{% url "movaluens" %}">Movalue</a></li>
          <li class="breadcrumb-item"><a href="{% url "nifitetfns" %}">Nifitetf</a></li>
          <li class="breadcrumb-item"><a href="{% url "psubnkns" %}">Psubnketf</a></li>
          <li class="breadcrumb-item"><a href="{% url "techns" %}">Tech</a></li>

        </ol>
      </nav>
    </div>
    <section class="section">
        <div class="row ">
            <div class="col-lg-12">        
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title fw-bold">{{table_name}}</h5>  
                    <form id="filterForm" action="{% url 'Commoi' %}" method="POST">
                      {% csrf_token %}
                      
                          <div class="row">
                              <div class="col-3">
                                  <div class="cardbody">
                                      <label for="startDate">Select start Date</label>
                                      <input type="date" id="startDate" name="start_date" class="form-control">
                                  </div>
                              </div>
                      
                              <div class="col-3">
                                  <div class="cardbody">
                                      <label for="endDate">Select end Date</label>
                                      <input type="date" id="endDate" name="end_date" class="form-control">
                                  </div>
                              </div>
                      
                              <div class="cardbody mt-3">
                                  <button type="submit" class="btn-primary btn mt-1 btn-sm btn-rounded" style="background-color: #000080;">Apply filter</button>
                              </div>
                                                  
                              <div class="col-12 mt-2">
                                  <hr class="my-4" style="border-top: 1px solid #100f0f;">
                              </div>
                          </div>

                  </form>      
                    <table class="table datatable table-hover"> 
                        <thead>                           
                            <tr>
                                <th >Date</th>
                                <th>Open</th>
                                <th>High</th>
                                <th>Low</th>
                                <th>Close</th> 
                                <th>Close % change</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td>{{ d.date }}</td>
                                <td>{{d.Open|floatformat:2}}</td>
                                <td>{{d.high|floatformat:2}}</td>
                                <td>{{d.low|floatformat:2}}</td>
                                <td>{{d.close|floatformat:2}}</td>
                                <td style="color: {% if d.percent_diff > 0 %}green{% elif d.percent_diff < 0 %}red{% else %}black{% endif %}">
                                    {% if d.percent_diff > 0 %}+{% endif %}{{ d.percent_diff|floatformat:2|default:"N/A" }}%
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        
      
 
    </section>
</main>  
{% endblock body %}


 