<!-- active_user.html -->
{% extends "base1.html" %}
{% block title %}Deactivate User details{% endblock title %}
{% load static %}
{% block body %}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>User details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">User Data</li>
        </ol>
      </nav>
    </div>
    {% comment %} <div class="dropdown mb-2">
        <button class="btn btn-info dropdown-toggle" type="button" id="statusDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Select user details
        </button>
        <ul class="dropdown-menu" aria-labelledby="statusDropdown">
            <li><a class="dropdown-item" href="{% url 'users_data' %}">All Users</a></li>
            <li><a class="dropdown-item" href="{% url 'active_user' %}">Active Users</a></li>
            <li><a class="dropdown-item" href="{% url 'deactivate_user' %}">Deactivated Users</a></li>
        </ul>
    </div>

  <button type="button" class="btn btn-danger" id="delete-selected" style="display: none;">&#128465;</button> {% endcomment %}
  <div class="row">
    <div class="col-md-2">
        <div class="dropdown mb-2">
            <button class="btn btn-info dropdown-toggle" type="button" id="statusDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Select user details
            </button>
            <ul class="dropdown-menu" aria-labelledby="statusDropdown">
                <li><a class="dropdown-item" href="{% url 'users_data' %}">All Users</a></li>
                <li><a class="dropdown-item" href="{% url 'active_user' %}">Active Users</a></li>
                <li><a class="dropdown-item" href="{% url 'deactivate_user' %}">Deactivated Users</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-danger" id="delete-selected" style="display: none;">&#128465;</button>
    </div>
</div>


    <section class="section">
        <div class="row">
            <div class="col-lg-12">        
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Deactivate Users</h5>        
                    <table class="table table-hover">   
                        <thead>
                            <tr>
                                <th><input type="checkbox" class="all-checkbox" id="select-all"></th>
                                <th>S.No.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Dob</th>
                                <th>Phone</th>
                                <th>IS verified</th>
                                <th>Status</th>
                                <th>Subscription</th>
                                <th>Action</th>
                      
                            </tr>
                        </thead>
                        <tbody>     

                            {% for user in data %}
                            <tr>
                                <td><input type="checkbox" class="data-checkbox" data-username="{{ user.username }}" onclick="toggleDeleteButtonVisibility()"></td>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.date_of_birth }}</td>
                                <td>{{ user.phone_number}}</td>
                                <td>{{ user.is_verified }}</td>
                                <td>{{ user.login_status }}</td>
                                <td>{{ user.sub_status }}</td>       
                                <td><button type="button" class="btn btn-danger d-inline" id="delete-selected">Delete</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    document.getElementById('select-all').addEventListener('change', function () {
        var checkboxes = document.querySelectorAll('.data-checkbox');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = this.checked;
        }.bind(this));
        toggleDeleteButtonVisibility();
      });
    
      // Function to handle deletion of selected users
      document.getElementById('delete-selected').addEventListener('click', function () {
        var selectedUsers = [];
        var checkboxes = document.querySelectorAll('.data-checkbox:checked');
        checkboxes.forEach(function (checkbox) {
            selectedUsers.push(checkbox.getAttribute('data-username'));
        });
    
        // Redirect to delete view with selected users' usernames
        if (selectedUsers.length > 0) {
            var url = '{% url "delete_selected_users" %}?usernames=' + selectedUsers.join(',');
            window.location.href = url;
        } else {
            alert('Please select at least one user to delete.');
        }
      });
    
    
      // Function to handle deletion of selected users
      document.getElementById('delete-selected').addEventListener('click', function () {
          var selectedUsers = [];
          var checkboxes = document.querySelectorAll('.data-checkbox:checked');
          checkboxes.forEach(function (checkbox) {
              selectedUsers.push(checkbox.getAttribute('data-username'));
          });
    
          // Redirect to delete view with selected users' usernames
          if (selectedUsers.length > 0) {
              var url = '{% url "delete_selected_users" %}?usernames=' + selectedUsers.join(',');
              window.location.href = url;
          } else {
              alert('Please select at least one user to delete.');
          }
      });

      document.addEventListener('DOMContentLoaded', function() {
        var checkboxes = document.querySelectorAll('.data-checkbox');
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('click', toggleDeleteButtonVisibility);
        });
    });
    
    function toggleDeleteButtonVisibility() {
        var deleteButton = document.getElementById('delete-selected');
        var checkboxes = document.querySelectorAll('.data-checkbox:checked');
        
        if (checkboxes.length > 0) {
            deleteButton.style.display = '';
        } else {
            deleteButton.style.display = 'none';
        }
    }
    
    
      // Initial toggle delete button visibility
      toggleDeleteButtonVisibility();
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
          function filterRows() {
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("search");
              filter = input.value.toUpperCase();
              table = document.getElementById("allTable");
              tr = table.getElementsByTagName("tr");
          
              // Loop through all table rows
              for (i = 0; i < tr.length; i++) {
                  td = tr[i].getElementsByTagName("td")[2]; // Change index to match the column of ETF names
                  if (td) {
                      txtValue = td.textContent || td.innerText;
                      if (filter === "" || txtValue.toUpperCase().indexOf(filter) > -1) {
                          tr[i].style.display = ""; // Show row if it matches search or if search is empty
                      } else {
                          tr[i].style.display = "none"; // Hide row if it doesn't match search
                          // Hide details row when search is cleared
                          const detailsRow = tr[i].nextElementSibling;
                          if (detailsRow && detailsRow.classList.contains('details-row')) {
                              detailsRow.style.display = "none";
                          }
                      }
                  }
              }
          }
          
    
      
          // Attach filter function to input field
          document.getElementById("search").addEventListener("keyup", filterRows);
      });
{% endblock body %}

