{% extends "base1.html" %}
{% block title %}Stocks{% endblock title %}
{% load static %}
{% block body %}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>THIS IS STOCKS PAGE</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "UserDashboard"%}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url "niftybeesns" %}">Niftybees</a></li>
          <li class="breadcrumb-item"><a href="{% url "itbeesns" %}">Itbees</a></li>
          <li class="breadcrumb-item"><a href="{% url "sbietfitns" %}">Sbietfit</a></li>
          <li class="breadcrumb-item"><a href="{% url "abslnn50etns" %}">Abslnn50</a></li>
          <li class="breadcrumb-item"><a href="{% url "axistecns" %}">Axistec</a></li>
          <li class="breadcrumb-item"><a href="{% url "commoietfns" %}">Commoietf</a></li>
          <li class="breadcrumb-item"><a href="{% url "cpseetfns" %}">Cpseetf</a></li>
          <li class="breadcrumb-item"><a href="{% url "dspitetfns" %}">Dspitetf</a></li>
          <li class="breadcrumb-item"><a href="{% url "dspq50etfns" %}">Dspq50</a></li>
          <li class="breadcrumb-item"><a href="{% url "icicib22ns" %}">Icicib22</a></li>
          <li class="breadcrumb-item"><a href="{% url "itins" %}">Iti</a></li>
          <li class="breadcrumb-item"><a href="{% url "kotakns" %}">Kotak</a></li>
          <li class="breadcrumb-item"><a href="{% url "mafangns" %}">Mafang</a></li>
          <li class="breadcrumb-item"><a href="{% url "movaluens" %}">Movalue</a></li>
          <li class="breadcrumb-item"><a href="{% url "nifitetfns" %}">Nifitetf</a></li>
          <li class="breadcrumb-item"><a href="{% url "psubnkns" %}">Psubnketf</a></li>
          <li class="breadcrumb-item"><a href="{% url "techns" %}">Tech</a></li>
        </ol>
      </nav>
    </div>

    <section class="section">
      <div class="row ">
          <div class="col-lg-12">        
              <div class="card">
                  <div class="card-body" style="overflow-x: auto;">
                      <h5 class="card-title fw-bold">{{table_name}}</h5>     
                        <table class="table   table-hover"> 
                            <thead>                           
                                <tr>
                                    <th style="white-space: nowrap;">S. no. </th>
                                    <th style="white-space: nowrap;">Underlying assets</th>
                                    <th style="white-space: nowrap;">Open</th>
                                    <th style="white-space: nowrap;">High</th>
                                    <th style="white-space: nowrap;">Low</th>
                                    <th style="white-space: nowrap;">CMP</th> 
                                    <th style="white-space: nowrap;">20 DMA</th> 
                                    <th style="white-space: nowrap;">CMP - 20 DMA</th> 
                                    <th style="white-space: nowrap;">20 DMA vs CMP</th> 
                                    <th style="white-space: nowrap;">50 DMA</th> 
                                    <th style="white-space: nowrap;">CMP - 50 DMA</th> 
                                    <th style="white-space: nowrap;">50 DMA vs CMP</th> 
                                    <th style="white-space: nowrap;">100 DMA</th> 
                                    <th style="white-space: nowrap;">CMP - 100 DMA</th> 
                                    <th style="white-space: nowrap;">100 DMA vs CMP</th> 
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in data %}
                                

                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ d.Etfnames }}</td>
                                    <td>{{ d.Open|floatformat:2 }}</td>
                                    <td>{{ d.high|floatformat:2 }}</td>
                                    <td>{{ d.low|floatformat:2 }}</td>
                                    <td>{{ d.close|floatformat:2 }}</td> 
                                    {% comment %} <td>{{ etf_data }}</td>  {% endcomment %}
                                    
                                    {% for key, value in etf_data.items %}
                                        {% if key == d.Etfnames %}
                                            <td>{{ value|floatformat:2  }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    {% for key, value in etf_close_minus_20dma.items %}
                                    {% if key == d.Etfnames %}
                                        {% if value < 0 %}
                                            <td style="color: red">{{ value|floatformat:2 }}</td>
                                        {% elif value > 0 %}
                                            <td style="color: green">{{ value|floatformat:2 }}</td>
                                        {% else %}
                                            <td>{{ value|floatformat:2 }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                        
                                {% for key, value in etf_close_div_20dma.items %}
                                    {% if key == d.Etfnames %}
                                        {% if value < 0 %}
                                            <td style="color: red">{{ value|floatformat:2 }}%</td>
                                        {% elif value > 0 %}
                                            <td style="color: green">{{ value|floatformat:2 }}%</td>
                                        {% else %}
                                            <td>{{ value|floatformat:2 }}%</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}


                                {% for key, value in etf_data_50dma.items %}
                                {% if key == d.Etfnames %}
                                    <td>{{ value|floatformat:2 }}</td>
                                {% endif %}
                            {% endfor %}
                            <!-- Close - 50DMA -->
                            {% for key, value in etf_close_minus_50dma.items %}
                                {% if key == d.Etfnames %}
                                    {% if value < 0 %}
                                        <td style="color: red">{{ value|floatformat:2 }}</td>
                                    {% elif value > 0 %}
                                        <td style="color: green">{{ value|floatformat:2 }}</td>
                                    {% else %}
                                        <td>{{ value|floatformat:2 }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <!-- Close / 50DMA -->
                            {% for key, value in etf_close_div_50dma.items %}
                                {% if key == d.Etfnames %}
                                    {% if value < 0 %}
                                        <td style="color: red">{{ value|floatformat:2 }}%</td>
                                    {% elif value > 0 %}
                                        <td style="color: green">{{ value|floatformat:2 }}%</td>
                                    {% else %}
                                        <td>{{ value|floatformat:2 }}%</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}


                            {% for key, value in etf_data_100dma.items %}
                            {% if key == d.Etfnames %}
                                <td>{{ value|floatformat:2 }}</td>
                            {% endif %}
                        {% endfor %}
                        <!-- Close - 50DMA -->
                        {% for key, value in etf_close_minus_100dma.items %}
                            {% if key == d.Etfnames %}
                                {% if value < 0 %}
                                    <td style="color: red">{{ value|floatformat:2 }}</td>
                                {% elif value > 0 %}
                                    <td style="color: green">{{ value|floatformat:2 }}</td>
                                {% else %}
                                    <td>{{ value|floatformat:2 }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <!-- Close / 50DMA -->
                        {% for key, value in etf_close_div_100dma.items %}
                            {% if key == d.Etfnames %}
                                {% if value < 0 %}
                                    <td style="color: red">{{ value|floatformat:2 }}%</td>
                                {% elif value > 0 %}
                                    <td style="color: green">{{ value|floatformat:2 }}%</td>
                                {% else %}
                                    <td>{{ value|floatformat:2 }}%</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                                

                                    {% comment %} {% if etf_data.key == d.Etfnames %}<td>{{etf_data.value}}</td>{% endif %} {% endcomment %}
                                </tr>
                                {% endfor %}  
                                                   
                            </tbody> 
                            
                    
                        </table>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </main>  
  {% endblock body %}
